/* footer.css */
footer {
  background-color: #8fbc8f;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

.info-section {
  width: 100%; /* Take up full width by default */
  max-width: 200px; /* Set a maximum width for larger screens */
  flex: 1; /* Allow flexibility for smaller screens */
}

.info-section p {
  margin-top: 10px;
}

.copyright {
  margin-top: 10px;
}

/* Responsive Styles */
@media only screen and (min-width: 600px) {
  .info-section {
    max-width: none; /* Remove the maximum width for larger screens */
  }
}
