/* Form.css */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Adjust the top margin as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form h2 {
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

input[type='date'],
input[type='text'],
select {
  padding: 8px;
  margin-bottom: 10px;
  width: 200px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='checkbox'],
input[type='radio'] {
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
